<div class="container">
  <h1 class="title-index">Toute l'actualité est ici !</h1>
  <% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
      <div class="post-index">
        <div class="post-index-infos">
          <h2><%= post.title %></h2>
          <p class="text-muted"><em>Posté par <%= post.user.nickname %> le <%= post.created_at.strftime("%d/%m") %></em></p>
        </div>
        <div class="vote-link">
          <%= post.votes.size %>
          <%= link_to post_votes_path(post), method: :post do %>
            &nbsp +1
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
