<div class="container">
  <div class="nothing"></div>
  <%= link_to "Retour à la liste", posts_path, class: "anti-button" %>
  <h1 class=""><%= @post.title %></h1>
  <p><%= @post.content %></p>
  <em><p class="text-muted">Posté par <%= @post.user.nickname %></p></em>
  <hr>
  <div class="commentaires">
    <div class="list">
      <% @comments.each do |comment| %>
        <div class="list-element">
          <p><%= comment.content %></p>
          <p class="text-muted origin-com"><em>Ajouté par <%= comment.user.nickname %> le <%= comment.created_at.strftime("%d/%m") %></em></p>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="form">
      <h5 class="form-title"><strong>Un commentaire ?</strong></h5>
      <%= simple_form_for([@post, @comment]) do |f| %>
        <%= f.input :content, as: :text, label: false %>
        <%= f.submit "Ajoute ton commentaire", method: "post", class: "button" %>
      <% end %>
    </div>
  </div>
</div>
