<div class="container">
  <div class="nothing"></div>
  <%= link_to "Retour à la liste", posts_path, class: "anti-button" %>
  <div class="post">
    <h1 class=""><%= @post.title %></h1>
    <p><%= @post.content %></p>
    <div class="under-post">
      <p class="text-muted"><em>Posté par <%= @post.user.nickname %> le <%= @post.created_at.strftime("%d/%m") %></em></p>
      <div class="links">
        <% if current_user == @post.user %>
          <p id="btn" class="pointer">Modifier le post</p>
          <%= link_to "Supprimer le post", post_path, method: "delete", class: "red" %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
  <div class="commentaires">
    <div class="list">
      <% @comments.each do |comment| %>
        <div class="list-element">
          <p><%= comment.content %></p>
          <p class="text-muted origin-com"><em>Ajouté par <%= comment.user.nickname %> le <%= comment.created_at.strftime("%d/%m") %></em></p>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="form">
      <h5 class="form-title"><strong>Un commentaire ?</strong></h5>
      <%= simple_form_for([@post, @comment]) do |f| %>
        <%= f.input :content, as: :text, label: false %>
        <%= f.submit "Ajoute ton commentaire", method: "post", class: "button" %>
      <% end %>
    </div>
  </div>
</div>

<div id="myModal" class="modal-edit-post">
  <div class="modal-content-edit-post flex">
    <div class="form-post-title flex">
      <h1>Modifier votre post</h1>
      <i class="close far fa-times-circle"></i>
    </div>
    <%= simple_form_for(@post) do |f| %>
      <%= f.input :title, label: false %>
      <%= f.input :content, label: false %>
      <%= f.input :url, label: false %>
      <%= f.submit "Valider", class: "button"%>
    <% end %>
  </div>
</div>

<script>
  var modal = document.getElementById("myModal");
  var btn = document.getElementById("btn");
  var span = document.getElementsByClassName("close")[0];

  btn.onclick = function() {
    modal.style.display = "block";
  }
  span.onclick = function() {
    modal.style.display = "none";
  }
</script>
